@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f5f7; 
  color: #333333;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 10%;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-name {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
  cursor: pointer;
}

.navbar-links li a {
  color: #ffffff;
  font-family:'Roboto', sans-serif;
  letter-spacing: 0.8px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.navbar-links li a:hover {
  transform: translateY(-3px);
  text-shadow: 0 0 20px #ffffff;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 10%;
  min-height: 80vh;
}

.container {
  max-width: 650px;
}

.hero-name {
  color: #333333;
  font-size: 28px;
  margin-bottom: 15px;
  padding-left: 5px;
}

.hero-title {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #222222;
  line-height: 0.81;
}

.hero-subtitle {
  font-size: 24px;
  color: #666666d0; 
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-stack{
  color: #0071eb;
  font-size: 72px;

}

.button-project {
  display: inline-block; 
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #007bff;
  color:#ffffff ;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-project:hover{
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
  transform: scale(1.01);
  box-shadow: 0 0 35px #007bff52;
}

.main-image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 5px solid #007bff7a;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.main-image:hover {
  transform: scale(1.02);
  box-shadow: 0 0 55px #006eff36;
}


.about-section {
  padding:  100px 0px;
  background-color: hsl(0, 0%, 100%);
}

.about-container {
  padding-left: 300px;
  padding-right: 300px;
  margin: 0 auto;
}

.section-title {
  font-size: 42px;
  color: #222222;
  text-align: left;
  margin-bottom: 40px;
  font-weight: 900;
  padding-left: 10px;
  border-radius: 5px;
  justify-self: center;
  margin-bottom: 60px;
}

.section-title::after{
  content: '';
  display: block;
  width: 100px;
  justify-self: center;
  height: 5px;
  background-color: #0071eb;
  margin-top: 10px;
  border-radius: 3px;
}


.about-content {
  font-size: 18px;
  color: #555555;
  line-height: 1.8;
}

.about-text p {
  margin-bottom: 25px;
}

.about-cards {
  list-style-type: none;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 15px;
  cursor: pointer;
}

.about-cards li {
  background-color: #c7e2ff;
  padding: 1px 14px;
  border-radius: 20px;
  border: 2px solid #007bff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-weight: 500;
  color: #0071eb;
  transition: all 0.2s ease;
}

.about-cards li:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 20px #007bff79;
}

.projects-section {
  padding: 100px 0px;
  background-color: #ffffff;
}

.projects-container {
  margin: 0 auto;
  padding: 70px 100px;

}


.projects-grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
}

.project-card {
  width: 460px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden; 
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eaeaea;
}

.project-info {
  padding: 20px;
  text-align: left;
  display: flex;
  height: 200px;
  flex-direction: column;
  flex-grow: 1;
}

.project-title {
  font-size: 22px;
  color: #222222;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-description {
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.project-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: auto;
}

.project-btn {
  display: inline-block;
  border: 1px solid transparent;
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: lighter;
  transition: 0.3s ease;
}

.project-btn:hover {
  background-color: #ffffff;
  border: 1px solid #0071eb;
  color: #007bff;
}


.skills-section {
  padding: 100px 100px;
  background-color: #ffffff;

}

.skills-container {
  margin: 0 auto;
}

.skills-grid {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.skill-column{
  flex: 1;
  border-left: 1.5px solid #6a728044;
  padding-left: 20px;
  padding-top: 10px;
}


.skill-title {
  font-size: 22px;
  color: #222222;
  margin-bottom: 25px;
  font-weight: 900;
}

.skill-list {
  list-style-type: none;
  padding: 0;
}

.skill-list li {
  color: #666666;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 1.6;
}

.contact-section {
  padding: 100px;
  background-color: #f4f5f7;
  position: relative;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}
 
.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.contact-description {
  font-size: 18px;
  color: #6a7280;
  max-width: 650px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.social-icon {
  color: #798293; 
  
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: #0071eb;
  transform: translateY(-4px);
}

.email-btn {
  background-color: #0071eb;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
}

.email-btn:hover {
  background-color: #003cffd3;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(99, 102, 241, 0.4);
}


.footer-section{
  padding: 2% 100px;
  margin: 0 auto;
  border-top: 1px solid #6a72805b;
}

.footer-container{
  justify-self: center;
  padding: 10px 100px;
}

.footer-description{
  font-size: 18px;
  color: #666666;
}